@model CollectionSwap.Models.Collection

<br />
<br />
<h5>Select Which Items You Own</h5>
<hr />

<div id="collection-items" class="d-flex gap-5 flex-wrap" style="display: none;">
    @for (int i = 1; i <= Model.Size; i++)
    {
        var imagePath = $"~/Collections/{Model.Id}/{i}";
        var quantityId = $"quantity{i}";

        <div class="d-flex flex-column align-items-center">
            <div class="item">
                @if (System.IO.File.Exists(Server.MapPath(imagePath + ".png")))
                {
                    <img src="@Url.Content(imagePath + ".png")" alt="item @i" />
                }
                else if (System.IO.File.Exists(Server.MapPath(imagePath + ".jpg")))
                {
                    <img src="@Url.Content(imagePath + ".jpg")" alt="item @i" />
                }
            </div>
            <div class="item-quantity visually-hidden d-flex flex-column align-items-center">
                Quantity:
                <div class="d-flex flex-row gap-3 align-items-center">
                    <button class="counter counter-add" type="button"><i class="fa fa-plus-circle"></i></button>
                    <input type="number" id="@quantityId" name="quantity" min="0" max="999" value="0" />
                    <button class="counter counter-minus" type="button"><i class="fa fa-minus-circle"></i></button>
                </div>
            </div>
        </div>
    }
</div>
