@model CollectionSwap.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<main aria-labelledby="title">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form", id = "forgot-password-form" }))
    {
        <span class="header">@ViewBag.Title</span>
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <input type="submit" class="submit-button" value="Send Reset Link" />
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
