@model CollectionSwap.Models.CreateCardSet
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center w-100">
    @using (Html.BeginForm("Create", "CardSets", FormMethod.Post, new { role = "form", @class = "create-form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @*@Html.Hidden("card_set_id", Model.card_set_id)*@
        @Html.TextBoxFor(model => model.card_set_name, new { @class = "form-control", @placeholder = "Card Set Name" })
        @Html.ValidationMessageFor(model => model.card_set_name, "", new { @class = "text-danger" })

        @Html.TextBoxFor(model => model.FileInput, new { type = "file", accept = ".zip", @class = "form-control mt-3" })
        @Html.ValidationMessageFor(model => model.FileInput, "", new { @class = "text-danger" })
        <input class="form-control btn btn-primary mt-3" type="submit" value="Add Card Set" />
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index", "Manage")
</div>