@{ 
    var currentAction = ViewContext.RouteData.Values["action"] as string;
    var currentController = ViewContext.RouteData.Values["controller"] as string;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swapper - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="main-navbar @(currentController == "Account" ? "bg-split" : "")">
        <ul>
            <li>
                @Html.ActionLink("Swapper", "Index", "Home")
            </li>
        </ul>
        <ul>
            @*<li class="@(currentController == "Home" ? "selected" : "")">
                @Html.ActionLink("Home", "Index", "Home")
            </li>*@
            <li class="@(currentController == "Swap" ? "selected" : "")">
                <a href="/Swap/UserCollection">Find Swaps</a>
            </li>
            @Html.Partial("_LoginPartial")
        </ul>
    </nav>

    <main class="@(currentController == "Account" ? "bg-split" : "")">
        @RenderBody()
    </main>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
