@model CollectionSwap.Models.UserCollection
@using System.IO
@using Newtonsoft.Json;
@{
    List<int> items = JsonConvert.DeserializeObject<List<int>>(Model.ItemCountJSON);
    List<int> duplicates = items.Select(x => x - 1).ToList();
}
<br />
<br />
<h5>Your Collection</h5>
<h6>(Highlighted are your duplicates)</h6>
<hr />

<div id="collection-items" class="d-flex gap-5 flex-wrap" style="display: none;">

    @for (int i = 1; i <= items.Count; i++)
    {
        var imagePath = $"~/Collections/{Model.CollectionId}/";
        var quantityId = $"quantity{i}";
        string fileName = Path.GetFileName(Directory.GetFiles(Server.MapPath(imagePath), i + ".*")[0]);

        <div class="d-flex flex-column align-items-center">
            <div class="item @(items[i-1] > 1 ? "item-selected" : "")">
                <img src="@Url.Content(imagePath + fileName)" alt="item @i" />
            </div>
            <div class="item-quantity d-flex flex-column align-items-center">
                Quantity:
                <div class="d-flex flex-row gap-3 align-items-center">
                    <input type="number" id="@quantityId" name="quantity" min="0" max="999" value="@items[i-1]" />
                </div>
            </div>
        </div>
    }
</div>
