@model CollectionSwap.Models.SwapViewModel
@using CollectionSwap.Models
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Find Swaps";
    UserCollection selectedCollection = ViewBag.SelectedCollection;
    List<(string, List<int>, List<int>, List<List<int>>)> potentialSwappers = ViewBag.PotentialSwappers;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <hr />
    <div>
        <h5>Select a collection to find swaps for:</h5>
        <hr />
        <div class="d-flex gap-5">

            @foreach (UserCollection userCollection in Model.UserCollections)
            {
                <div class="d-flex flex-column align-items-center">
                    @Html.ActionLink(userCollection.Name, "UserCollection", "Swap", new { id = userCollection.Id }, new { @class = "collection user-collection" })
                </div>
            }
        </div>
        <br />
        @if (ViewBag.PotentialSwappers != null && ViewBag.PotentialSwappers.Count > 0)
        {
            <h4>Potential Swappers:</h4>
            foreach (var potentialSwapper in ViewBag.PotentialSwappers)
            {
                <h5>User: @potentialSwapper.Item1</h5>
                <p>Items you can swap: @string.Join(", ", potentialSwapper.Item2)</p>
                <p>Items the other user can swap: @string.Join(", ", potentialSwapper.Item3)</p>
                <p>Potential Trades:</p>
                foreach (var combination in potentialSwapper.Item4)
                {
                    int halfCount = combination.Count / 2;
                    var firstHalf = combination.GetRange(0, halfCount);
                    var secondHalf = combination.GetRange(halfCount, combination.Count - halfCount);
                    <p>@string.Join(", ", firstHalf) for @string.Join(", ", secondHalf)</p>
                }
            }
        }
        else
        {
            <h5>No potential swappers found.</h5>
        }
        @*@if (selectedCollection != null)
        {
            @Html.Partial("_Items", selectedCollection)
        }*@
    </div>
</main>

@section scripts {
    <script>
        var id = window.location.href.split("UserCollection/")[1];
        var selectedCollection = $(`[href='/Swap/UserCollection/${id}']`);

        if (selectedCollection.length) {
            selectedCollection.addClass("user-collection-selected")
        }
    </script>
}