@model CollectionSwap.Models.SwapViewModel
@using CollectionSwap.Models
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Find Swaps";
    UserCollection selectedCollection = ViewBag.SelectedCollection;
    List<(string Email, List<int> yourItems, List<int> theirItems)> potentialSwappers = ViewBag.PotentialSwappers;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <hr />
    <div class="secondary-container">
        <h5>Select a collection to find swaps for:</h5>
        @*<hr />*@
        @*User Collection Select*@
        <div class="d-flex gap-5">
            @foreach (UserCollection userCollection in Model.UserCollections)
            {
                <div class="d-flex flex-column align-items-center">
                    @Html.ActionLink(userCollection.Name, "UserCollection", "Swap", new { id = userCollection.Id }, new { @class = "collection user-collection" })
                </div>
            }
        </div>
    </div>
    <br />

    @*Available Swaps*@
    @if (potentialSwappers != null)
    {
        if (potentialSwappers.Count > 0)
        {
            <div class="d-flex flex-column gap-3">
                <div>
                    <h4>Available Swaps You Need:</h4>
                    <h6>(Highest rated first)</h6>
                </div>

                @foreach (var potentialSwapper in potentialSwappers)
                {
                    var collection = Model.Collections.Where(col => col.Id == selectedCollection.CollectionId).FirstOrDefault();
                    var itemList = JsonConvert.DeserializeObject<List<string>>(collection.ItemListJSON);
                    var swapSize = Math.Min(potentialSwapper.yourItems.Count, potentialSwapper.theirItems.Count);

                    <div class="swap-container">
                        <div class="swap-container-header">
                            <div class="swap-profile">
                                <div class="swap-portrait">Pic</div>
                                <div>
                                    User: @potentialSwapper.Email<br />
                                    <span class="swap-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="swap-info">
                                Swap <br /> @swapSize for
                                <span class="swap-size">@swapSize</span>
                            </div>
                        </div>
                        <div class="swap-container-body">
                            <div class="swap-container-main">
                                <div class="swap">
                                    <div class="swap-yours">
                                        <span class="swap-heading">Your Swap</span>
                                        <span>(Brent will be offered @swapSize of your duplicates)</span>
                                    </div>
                                </div>
                                <div class="swap">
                                    <div class="swap-theirs">
                                        <span class="swap-heading">Brent's' Swap</span>
                                        <span>(The items you'll receive)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swap-container-sub"></div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <h5> No potential swappers found.</h5>
        }
    }
</main>

@section scripts {
    <script>
        const id = window.location.href.split("UserCollection/")[1];
        const selectedCollection = $(`[href='/Swap/UserCollection/${id}']`);

        if (selectedCollection.length) {
            selectedCollection.addClass("user-collection-selected")
        }

        console.log(@Html.Raw(JsonConvert.SerializeObject(potentialSwappers)));

        $(".swap").on("click", function () {
            const potentialSwappers = @Html.Raw(JsonConvert.SerializeObject(potentialSwappers));
            const swapperIndex =$(".swap-container").index($(this).closest(".swap-container"));
            const swapIndex = $(this).index();
            //potentialSwappers[swapperIndex].Item3[swapIndex]

            const featuredItems = $(".swap-container").eq(swapperIndex).find(".swap-feature-item");

            featuredItems.each(function (i, e) {
                let regex = /\/(\d+)\./;
                let newSrc = $(this).find("img").attr("src");
                const replaceStr = newSrc.match(regex)[0];
                const fileName = potentialSwappers[swapperIndex].Item3[swapIndex][i] + 1;
                newSrc = newSrc.replace(replaceStr, `/${fileName}.`)

                $(e).fadeOut(400, function (i) {
                    $(this).find(".swap-item-name").text(fileName);
                    $(this).find("img").attr("src", newSrc);
                    $(e).fadeIn();
                });
            });

            $(".swap-container").eq(swapperIndex).find(".swap").not(this).removeClass("swap-selected");
            $(this).addClass("swap-selected");
        })
    </script>
}