@model CollectionSwap.Models.IndexViewModel
<div class="secondary-container">
    <div class="secondary-container-header">
        <p>Account Settings</p>
    </div>

    <div class="secondary-container-row">
        <div class="paint-blotches"></div>
        <form class="account-form">
            <div class="account-form-row">
                <div class="account-form-column">
                    <label>Current Email</label>
                    <input type="text" disabled value="@Model.Email" />
                </div>
            </div>
            <div class="account-form-row">
                <div class="account-form-column">
                    <label>New Email</label>
                    <input type="text" />
                </div>
            </div>
            <div class="account-form-row">
                <div class="account-form-column">
                    <label>Confirm New Email</label>
                    <input type="text" />
                </div>
            </div>
            @*<div class="account-form-row">
                    <div class="account-form-column">
                        <label>Password</label>
                        <input type="password" />
                    </div>
                </div>*@
            <div class="account-form-row">
                <div class="account-form-column">
                    <input type="submit" value="Update Email" />
                </div>
            </div>
        </form>
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { id = "update-password", role = "form", @class = "account-form" }))
        {
            @Html.AntiForgeryToken()
            @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
            <div class="account-form-row">
                <div class="account-form-column">
                    <label>Current Password</label>
                    @Html.PasswordFor(m => m.ChangePassword.OldPassword, new { @class = "" })
                    <span class="text-danger" style="display: none"></span>
                </div>
            </div>
            <div class="account-form-row">
                <div class="account-form-column">
                    <label>New Password</label>
                    @Html.PasswordFor(m => m.ChangePassword.NewPassword, new { @class = "" })
                    <span class="text-danger" style="display: none"></span>
                </div>
            </div>
            <div class="account-form-row">
                <div class="account-form-column">
                    <label>Confirm New Password</label>
                    @Html.PasswordFor(m => m.ChangePassword.ConfirmPassword, new { @class = "" })
                    <span class="text-danger" style="display: none"></span>
                </div>
            </div>
            <div class="account-form-row">
                <div class="account-form-column">
                    <input type="submit" value="Update Password" />
                </div>
            </div>
        }
    </div>

    <br />
    <div class="secondary-container-header">
        <p>Mailing Address</p>
    </div>

    <form class="account-form">
        <div class="account-form-row">
            <div class="account-form-column">
                <span>
                    <strong>Keep it Safe:</strong>
                    Consider using a business address or P.O. box for mailing collectibles, ensuring your home address remains private.
                </span>
            </div>
        </div>
        <div class="account-form-row">
            <div class="account-form-column">
                <label>Full Name</label>
                <input type="text" />
            </div>
            <div class="account-form-column">
                <label>Company Name (optional)</label>
                <input type="text" />
            </div>
        </div>
        <div class="account-form-row">
            <div class="account-form-column">
                <label>Address Line 1</label>
                <input type="text" />
            </div>
            <div class="account-form-column">
                <label>Address Line 2</label>
                <input type="text" />
            </div>
        </div>
        <div class="account-form-row">
            <div class="account-form-column">
                <label>Post Code</label>
                <input type="text" />
            </div>
            <div class="account-form-column">
                <label>City</label>
                <input type="text" />
            </div>
        </div>
        <div class="account-form-row">
            <div class="account-form-column">
                <input type="submit" value="Update Address" />
            </div>
        </div>
    </form>
</div>