@model CollectionSwap.Models.CollectionButton
@{ 
    string action = ViewContext.RouteData.Values["action"] as string;
}
<div class="new-collection">
    @if (Model.Id == 0)
    {
        <span class="header">@Model.Name</span>
    }
    else
    {
        <div class="new-collection-row">
            @for (var i = 0; i < 3; i++)
            {
                if (Model.ItemList.Count > i)
                {
                    var src = Url.Content($"~/Collections/{Model.Id}/{Model.ItemList[i]}");
                    <img class="new-collection-feature-card" src="@src" />
                }
            }
        </div>

        <div class="new-collection-column">
            @*<div class="new-collection-center">@Model.Name[0]</div>*@
            <span><strong>@Model.Name</strong></span>
            <span class="description">@(Model.Description ?? "")</span>
        </div>

        if (Model.Type == "CreateUserCollection")
        {
            <div class="new-collection-row">
                <div class="submit-button">Add</div>
            </div>
        }
        else if (Model.Type == "DisplayCollection")
        {
            <div class="new-collection-row">
                <div class="column align-items-center">
                    <span>@Model.SetSize</span>
                    In Full Set
                </div>
            </div>
        }
        else
        {
            <div class="new-collection-row">
                <div class="column align-items-center">
                    <span>@Model.ItemList.Count</span>
                    You Own
                </div>
                <div class="column align-items-center">
                    <span>@Model.SetSize</span>
                    In Full Set
                </div>

                <div class="column align-items-center">
                    <span>@Model.Duplicates</span>
                    Duplicates
                </div>
            </div>
        }
    }
</div>
