@model CollectionSwap.Models.ManageCollectionsViewModel

@using (Html.BeginForm("CreateCollection", "Manage", FormMethod.Post, new { enctype = "multipart/form-data", id = "create-collection-form" }))
{
    @Html.AntiForgeryToken()

    <div>
        <div class="form-group">
            @Html.LabelFor(model => model.CreateCollection.Name)
            @Html.TextBoxFor(model => model.CreateCollection.Name)
            @Html.ValidationMessageFor(model => model.CreateCollection.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CreateCollection.Description)
            @Html.TextAreaFor(model => model.CreateCollection.Description, new { rows = 4, maxlength = "60" })
            @Html.ValidationMessageFor(model => model.CreateCollection.Description)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.CreateCollection.fileInput, new { type = "file", accept = ".zip" })
            @Html.ValidationMessageFor(model => model.CreateCollection.fileInput)
        </div>
    </div>
    <input class="submit-button" type="submit" value="Create Collection" />
}