@model CollectionSwap.Models.FindSwapsViewModel
@using CollectionSwap.Models
@{
    ViewBag.Title = "Find Swaps";
    var userSwaps = Model.UserSwaps;
    var matchingSwapViews = Model.MatchingSwapViews;
    var userCollections = Model.UserCollections;
    var selectedCollection = ViewBag.SelectedCollection;
    var userAddress = ViewBag.User.Address;
    string statusMessage = ViewBag.Status;
    string errorMessage = ViewBag.Error;
}

<div class="scroll-snap-row">
    <div class="status-container">
        @if (!String.IsNullOrEmpty(statusMessage))
        {
            <div class="status-message">@statusMessage</div>
        }
        else if (!String.IsNullOrEmpty(errorMessage))
        {
            <div class="status-message error">@errorMessage</div>
        }
    </div>
    <div class="page-navigation">
        <span class="header d-none"></span>
    </div>
    <div data-nav="Find Swaps" id="find-swaps-container" class="@(matchingSwapViews == null || matchingSwapViews.Count == 0 ? "no-swaps" : "")">
        <span class="header">Find Swaps</span>
        <section class="column">
            @if (userAddress == null)
            {
                <div class="warning">
                    <span class="header warning"><i class="fa-solid fa-circle-exclamation"></i>Added your address?</span>
                    <span>Before you can request a swap you must <a href="/Manage/Account">add your mailing address</a></span>
                </div>
                <br />
            }
            @if (userCollections.Count == 0)
            {
                <div class="warning">
                    <span class="header warning"><i class="fa-solid fa-circle-exclamation"></i>Create a collection</span>
                    <span>Before you can find any swaps you'll need to <a href="/Manage/YourCollections">create a collection</a></span>
                </div>
            }
            else
            {
                <h3>Select a collection to find swaps for:</h3>
            }
            <br />
            <div class="user-collection-container">
                @foreach (UserCollection userCollection in Model.UserCollections)
                {
                    @Html.ActionLink(userCollection.Name, "Find", "Manage", new { id = userCollection.Id }, new { @class = $"submit-button load-content user-collection {(selectedCollection != null && userCollection.Id == selectedCollection.Id ? "selected" : "")}" })
                }
            </div>
            <br />

            @*Available Swaps*@
            @if (matchingSwapViews != null)
            {
                if (matchingSwapViews.Count > 0)
                {
                    <div class="column gap-1 min-width-100">
                        <h3>Available Swaps:</h3>

                        @for (int i = 0; i < matchingSwapViews.Count; i++)
                        {
                            @Html.Partial("_Swap", matchingSwapViews[i]);
                        }
                    </div>
                }
                else
                {
                    <div class="swap-none-found">
                        <span class="header">No matches were found</span>
                        <span>Keep checking back regularly for new collectibles and swap opportunities.</span><br />
                        <img src="~/Content/images/doodles/12.png" style="transform: scaleX(-1.1)" />
                    </div>
                }
            }
        </section>
    </div>

    <div id="profile-container" class="d-none">
        @if (ViewBag.ViewProfile == true)
        {
            @Html.Partial("_Profile")
        }
    </div>
</div>
