@model CollectionSwap.Models.SwapViewModel
@using Microsoft.AspNet.Identity
@using Newtonsoft.Json;
@{
    var id = Model.Id;
    var Sender = Model.Sender;
    var Receiver = Model.Receiver;
    var collectionId = Model.CollectionId;
    var itemList = Model.ItemList;
    var senderCollectionId = Model.SenderCollectionId;
    var receiverCollectionId = Model.ReceiverCollectionId;
    var swapSize = Model.SwapSize;
    var swapStatus = Model.Status;
    var userId = User.Identity.GetUserId() == Sender.Id ? Receiver.Id : Sender.Id;
    var userName = User.Identity.GetUserId() == Sender.Id ? Receiver.UserName : Sender.UserName;
    var primaryHeader = User.Identity.GetUserId() == Sender.Id ? "You've requested the following items" : $"{@userName} has requested the following items";
    //var primaryItems = User.Identity.GetUserId() == Sender.Id ? Model.SenderItemIds : Model.ReceiverItemIds;
    var requestedItems = Model.ReceiverItemIds;
    var selectionPool = Model.SenderItemIds;
    var rating = User.Identity.GetUserId() == Sender.Id ? Model.ReceiverRating : Model.SenderRating;
    var heading = swapStatus == "offered" || User.Identity.GetUserId() == Receiver.Id ? "Offered Swap" : "Confirm Swap";
}

<div class="row">
    <button class="scroll-row-button" onclick="ScrollRowBack(this)"><i class="fa fa-angle-left"></i></button>

    <span class="header">
        @heading
    </span>
</div>

<section>
    <div class="swap-container" data-collection-id="@collectionId" data-sender-id="@Sender.Id" data-receiver-id="@Receiver.Id" data-sender-collection-id="@senderCollectionId" data-receiver-collection-id="@receiverCollectionId">
        <div class="swap-container-header">
            <div class="swap-info">
                <span class="swap-size">@swapSize</span>
                <span>Swap for @swapSize</span>
            </div>
            <div class="swap-profile" data-user-id="@userId">
                <div>
                    <span class="header">Swap with @userName</span>
                    @if (rating == -1)
                    {
                        <span class="new">New</span>
                    }
                    <span class="swap-rating">
                        @for (int i = 0; i < Math.Floor(rating); i++)
                        {
                            <i class="fa fa-star"></i>
                        }
                        @if (rating % 1 == 0.5)
                        {
                            <i class="fa fa-star-half"></i>
                        }
                    </span>
                </div>
                <div class="swap-portrait">Pic</div>
            </div>
        </div>
        <div class="swap-container-body">
            @if (swapStatus == "offered")
            {
                <div class="selection-pool">
                    <span class="header">@primaryHeader</span>
                    <div class="swap-items receiver-items">
                        @foreach (var itemId in @requestedItems)
                        {
                            <div class="swap-item swap-request-item">
                                <img data-item-id="@itemId" src="@Url.Content("/Collections/" + @collectionId + '/' + @itemList[itemId])" />
                            </div>
                        }
                    </div>
                </div>
                if (User.Identity.GetUserId() == Receiver.Id)
                {
                    <div class="selection-pool">
                        <span class="header">Select @swapSize of their items in exchange</span>
                        <div class="swap-items sender-items">
                            @foreach (var itemId in @selectionPool)
                            {
                                <div class="swap-item swap-request-item" onclick="SelectItem(this)">
                                    <img data-item-id="@itemId" src="@Url.Content("/Collections/" + @collectionId + '/' + @itemList[itemId])" />
                                </div>
                            }
                        </div>
                    </div>

                    @*<div class="selection-pool">
                    <span class="header">Select @swapSize of @userName's items</span>
                    <div class="swap-items sender-items">
                        @foreach (var itemId in @selectionPool)
                        {
                            <div class="swap-item swap-request-item" onclick="SelectItem(this)">
                                <img data-item-id="@itemId" src="@Url.Content("/Collections/" + @collectionId + '/' + @itemList[itemId])" />
                            </div>
                        }
                    </div>
                </div>*@
                }
            }
            else if (swapStatus == "accepted")
            {
                <div class="selection-pool">
                    <span class="header">You've requested the following items</span>
                    <div class="swap-items">
                        @if (User.Identity.GetUserId() == Sender.Id)
                        {
                            foreach (var itemId in requestedItems)
                            {
                                <div class="swap-item">
                                    <img data-item-id="@itemId" src="@Url.Content("/Collections/" + @collectionId + '/' + @itemList[itemId])" />
                                </div>
                            }
                        }
                        else
                        {
                            foreach (var itemId in selectionPool)
                            {
                                <div class="swap-item">
                                    <img data-item-id="@itemId" src="@Url.Content("/Collections/" + @collectionId + '/' + @itemList[itemId])" />
                                </div>
                            }
                        }
                    </div>
                </div>

                <div class="selection-pool">
                    <span class="header">@userName has requested the following items</span>
                    <div class="swap-items">
                        @if (User.Identity.GetUserId() == Sender.Id)
                        {
                            foreach (var itemId in selectionPool)
                            {
                                <div class="swap-item">
                                    <img data-item-id="@itemId" src="@Url.Content("/Collections/" + @collectionId + '/' + @itemList[itemId])" />
                                </div>
                            }
                        }
                        else
                        {
                            foreach (var itemId in requestedItems)
                            {
                                <div class="swap-item swap-request-item">
                                    <img data-item-id="@itemId" src="@Url.Content("/Collections/" + @collectionId + '/' + @itemList[itemId])" />
                                </div>
                            }
                        }
                    </div>
                </div>
            }

            <div class="your-selection d-none">
                <span class="header">Your Selection</span>
                <div class="swap-items">
                    @for (var i = 0; i < swapSize; i++)
                    {
                        <div class="swap-item placeholder" onclick="ClearItem(this)">
                            <img src="@Url.Content("/Collections/" + @collectionId + '/' + @itemList[0])" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row gap-1">
        @if (swapStatus == "offered")
        {
            if (User.Identity.GetUserId() == Sender.Id)
            {
                <button class="submit-button" onclick="declineSwap(this, @id)">Cancel Swap</button>
            }
            else
            {
                <button class="submit-button accept" onclick="acceptSwap(this, @id)" disabled>Items Selected (0/@Model.SwapSize)</button>
                <button class="submit-button" onclick="declineSwap(this, @id)">Decline Swap</button>
            }
        }
        else if (swapStatus == "accepted")
        {
            if (User.Identity.GetUserId() == Sender.Id)
            {
                <button class="submit-button accept" onclick="confirmSwap(this, @id)">Confirm Swap</button>
                <button class="submit-button" onclick="declineSwap(this, @id)">Decline Swap</button>
            }
            else
            {
                <button class="submit-button" onclick="declineSwap(this, @id)">Cancel Swap</button>
            }
        }
    </div>
</section>