@model CollectionSwap.Models.SwapHistoryViewModel
@using Microsoft.AspNet.Identity
@{
    string statusMessage = ViewBag.Status;
    var userId = User.Identity.GetUserId();
    var displayableSwaps = Model.Swaps.Where(s => (s.Sender.Id == userId && s.SenderDisplaySwap) || (s.Receiver.Id == userId && s.ReceiverDisplaySwap));
}

<div class="scroll-snap-row">
    <div id="history-container">
        @if (!String.IsNullOrEmpty(statusMessage))
        {
            <div class="status-message">@statusMessage</div>
        }
        <span class="header">Swap History</span>

        <section class="column">
            <div class="swap-history-filters">
                <span data-status="all" class="selected">All</span>
                <span data-status="offered">Offered</span>
                <span data-status="accepted">Accepted</span>
                <span data-status="confirmed">Confirmed</span>
                <span data-status="completed">Completed</span>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Collection Name</th>
                        <th>User</th>
                        <th>Status</th>
                        <th>Items Sent</th>
                        <th>Items Received</th>
                        <th onclick="SortByDate(@displayableSwaps)">Start Date <i class="fa-solid fa-sort"></i></th>
                        <th>Next Action</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var swap in displayableSwaps)
                    {
                        var swapStatus = swap.SenderRequestedItems == "[]" || swap.ReceiverRequestedItems == "[]" ? $"charity-{swap.Status}" : swap.Status;
                        <tr>
                            <td>@swap.Collection.Name</td>
                            @if (swap.SenderId == userId)
                            {
                                <td>@swap.Receiver.UserName</td>
                            }
                            else if (swap.ReceiverId == userId)
                            {
                                <td>@swap.Sender.UserName</td>
                            }
                            @switch (swapStatus)
                            {
                                case "charity-requested":
                                    if (swap.SenderId == userId)
                                    {
                                        <td class="swap-status" title="@swap.Receiver.UserName has requested your items.">@Html.Partial("_SwapProgress", swap)</td>
                                    }
                                    else
                                    {
                                        <td class="swap-status" title="You've requested these items, waiting @swap.Sender.UserName to accept or decline.">@Html.Partial("_SwapProgress", swap)</td>
                                    }
                                    break;
                                case "charity-confirmed":
                                    if (swap.SenderId == userId)
                                    {
                                        <td class="swap-status" title="You confirmed this swap, please follow the provided mailing instructions.">@Html.Partial("_SwapProgress", swap)</td>
                                    }
                                    else if (swap.ReceiverId == userId)
                                    {
                                        <td class="swap-status" title="@swap.Sender.UserName has accepted your request.">@Html.Partial("_SwapProgress", swap)</td>
                                    }
                                    break;
                                case "charity-completed":
                                    if (swap.SenderId == userId)
                                    {
                                        <td class="swap-status" title="You offered this swap, waiting for @swap.Receiver.UserName to accept or decline.">@Html.Partial("_SwapProgress", swap)</td>
                                    }
                                    else
                                    {
                                        <td class="swap-status" title="Swap complete">@Html.Partial("_SwapProgress", swap)</td>
                                    }
                                    break;
                                case "charity-canceled":
                                    <td class="swap-status" title="@swap.Receiver.UserName canceled their request.">@Html.Partial("_SwapProgress", swap)</td>
                                    break;
                                case "charity-declined":
                                    <td class="swap-status" title="@swap.Sender.UserName has donated the items to another user">@Html.Partial("_SwapProgress", swap)</td>
                                    break;
                                case "offered":
                                    if (swap.SenderId == userId)
                                    {
                                        <td class="swap-status" title="You offered this swap, waiting for @swap.Receiver.UserName to accept or decline.">@Html.Partial("_SwapProgress", swap)</td>
                                    }
                                    else
                                    {
                                        <td class="swap-status" title="You've been offered this swap, waiting for you to accept or decline.">@Html.Partial("_SwapProgress", swap)</td>
                                    }
                                    break;
                                case "accepted":
                                    if (swap.SenderId == userId)
                                    {
                                        <td class="swap-status" title="The swap has been accepted, waiting for you to confirm.">@Html.Partial("_SwapProgress", swap)</td>
                                    }
                                    else
                                    {
                                        <td class="swap-status" title="You've accepted this swap, waiting for @swap.Sender.UserName to confirm.">@Html.Partial("_SwapProgress", swap)</td>
                                    }
                                    break;
                                case "confirmed":
                                    if (swap.SenderId == userId)
                                    {
                                        if (swap.ReceiverConfirmSent)
                                        {
                                            <td class="swap-status" title="@swap.Receiver.UserName has sent your items, please follow the provided mailing instructions.">@Html.Partial("_SwapProgress", swap)</td>
                                        }
                                        else
                                        {
                                            <td class="swap-status" title="You confirmed this swap, please follow the provided mailing instructions.">@Html.Partial("_SwapProgress", swap)</td>
                                        }
                                    }
                                    else
                                    {
                                        if (swap.SenderConfirmSent)
                                        {
                                            <td class="swap-status" title="@swap.Sender.UserName has sent your items, please follow the provided mailing instructions.">@Html.Partial("_SwapProgress", swap)</td>
                                        }
                                        else
                                        {
                                            <td class="swap-status" title="@swap.Sender.UserName confirmed this swap, please follow the provided mailing instructions.">@Html.Partial("_SwapProgress", swap)</td>
                                        }
                                    }
                                    break;
                                case "completed":
                                    <td class="swap-status" title="Swap complete">@Html.Partial("_SwapProgress", swap)</td>
                                    break;
                                case "canceled":
                                case "declined":
                                    <td class="swap-status" title="Swap @swapStatus">@Html.Partial("_SwapProgress", swap)</td>
                                    break;
                                default:
                                    break;
                            }
                            @if (userId == swap.SenderId)
                            {
                                <td>
                                    <input data-swap-id="@swap.Id" data-type="sent" class="swap-confirm" type="checkbox" checked="@swap.SenderConfirmSent" @Html.Raw(swap.Status == "canceled" || swap.Status == "declined" ? "disabled" : "") />
                                </td>
                                <td>
                                    <input data-swap-id="@swap.Id" data-type="received" class="swap-confirm" type="checkbox" checked="@(swap.SenderConfirmReceived || swap.ReceiverRequestedItems == "[]")" @Html.Raw(swap.ReceiverRequestedItems == "[]" || swap.Status == "canceled" || swap.Status == "declined" ? "disabled" : "") />
                                </td>
                            }
                            else if (userId == swap.ReceiverId)
                            {
                                <td>
                                    <input data-swap-id="@swap.Id" data-type="sent" class="swap-confirm" type="checkbox" checked="@swap.ReceiverConfirmSent" @Html.Raw(swap.ReceiverRequestedItems == "[]" || swap.Status == "canceled" || swap.Status == "declined" ? "disabled" : "")/>
                                </td>
                                <td>
                                    <input data-swap-id="@swap.Id" data-type="received" class="swap-confirm" type="checkbox" checked="@swap.ReceiverConfirmReceived" @Html.Raw(swap.Status == "canceled" || swap.Status == "declined" ? "disabled" : "")/>
                                </td>
                            }
                            <td>
                                @swap.StartDate.ToLocalTime().ToString("dd/MM/yyyy")
                            </td>
                            @{
                                var hasSentItems = userId == swap.SenderId ? swap.SenderConfirmSent : swap.ReceiverConfirmSent;
                                var hasReceivedItems = userId == swap.SenderId ? swap.SenderConfirmReceived : swap.ReceiverConfirmReceived;
                                var hasSentFeedback = userId == swap.SenderId ? swap.SenderFeedbackSent : swap.ReceiverFeedbackSent;
                                switch (swapStatus)
                                {
                                    case "charity-requested":
                                        <td>
                                            @if (swap.SenderId == userId)
                                            {
                                                <a href="/Manage/SwapHistory/@swap.Id" class="swap-offer">Review Request</a>
                                            }
                                            else
                                            {
                                                <span>Waiting for @swap.Sender.UserName</span><br />
                                                <a href="/Manage/SwapHistory/@swap.Id" class="swap-offer">(View Request)</a>
                                            }
                                        </td>
                                        break;
                                    case "charity-canceled":
                                        <td>
                                            <span>Canceled</span><br />
                                            <a href="/Manage/SwapHistory/@swap.Id" class="swap-offer">(View Request)</a>
                                        </td>
                                        break;
                                    case "charity-declined":
                                        <td>
                                            <span>Declined</span><br />
                                            <a href="/Manage/SwapHistory/@swap.Id" class="swap-offer">(View Request)</a>
                                        </td>
                                        break;
                                    case "charity-confirmed":
                                        if (hasSentFeedback)
                                        {
                                            <td>
                                                <span>Complete</span><br />
                                                <a href="/Manage/SwapHistory/@swap.Id" class="swap-offer">(View Swap)</a>
                                            </td>
                                        }
                                        else if (hasSentItems && hasReceivedItems)
                                        {
                                            <td><a href="/Manage/SwapHistory/@swap.Id">Provide Feedback</a></td>
                                        }
                                        else if (hasSentItems)
                                        {
                                            <td>
                                                <span>Waiting to receive items</span><br />
                                                <a href="/Manage/SwapHistory/@swap.Id">(View Swap)</a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td><a href="/Manage/SwapHistory/@swap.Id">View Mailing Instructions</a></td>
                                        }
                                        break;
                                    case "offered":
                                        <td>
                                            @if (swap.SenderId == userId)
                                            {
                                                <span>Waiting for @swap.Receiver.UserName</span><br />
                                                <a href="/Manage/SwapHistory/@swap.Id" class="swap-offer">(View Offer)</a>
                                            }
                                            else
                                            {
                                                <a href="/Manage/SwapHistory/@swap.Id" class="swap-offer">Review Offer</a>
                                            }
                                        </td>
                                        break;
                                    case "accepted":
                                        <td>
                                            @if (swap.SenderId == userId)
                                            {
                                                <a href="/Manage/SwapHistory/@swap.Id" class="swap-offer">Confirm Swap</a>
                                            }
                                            else
                                            {
                                                <span>Waiting for @swap.Sender.UserName</span><br />
                                                <a href="/Manage/SwapHistory/@swap.Id" class="swap-offer">(View Offer)</a>
                                            }
                                        </td>
                                        break;
                                    case "confirmed":
                                        if (hasSentFeedback)
                                        {
                                            <td>
                                                <span>Complete</span><br />
                                                <a href="/Manage/SwapHistory/@swap.Id" class="swap-offer">(View Swap)</a>
                                            </td>
                                        }
                                        else if (hasSentItems && hasReceivedItems)
                                        {
                                            <td><a href="/Manage/SwapHistory/@swap.Id">Provide Feedback</a></td>
                                        }
                                        else if (hasSentItems)
                                        {
                                            <td>
                                                <span>Waiting to receive items</span><br />
                                                <a href="/Manage/SwapHistory/@swap.Id">(View Swap)</a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td><a href="/Manage/SwapHistory/@swap.Id">View Mailing Instructions</a></td>
                                        }
                                        break;
                                    default:
                                        <td>
                                            <span>Complete</span><br />
                                            <a href="/Manage/SwapHistory/@swap.Id" class="swap-offer">(View Swap)</a>
                                        </td>
                                        break;
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </div>

    @*<div id="feedback-container" class="d-none">
        @if (Model.Offer.Feedback != null)
        {
            @Html.Partial("_Feedback", Model.Offer.Feedback)
        }
    </div>*@

    <div id="offer-container" class="d-none">
        @if (Model.Offer != null)
        {
            @Html.Partial("_Offer", Model.Offer)
        }
    </div>
</div>