@model CollectionSwap.Models.Swap
@using Microsoft.AspNet.Identity
@{
    var userId = User.Identity.GetUserId();
    var otherUserSent = ((Model.SenderId == userId && Model.ReceiverConfirmSent) || (Model.ReceiverId == userId && Model.SenderConfirmSent));
    var itemsSent = ((Model.SenderId == userId && Model.SenderConfirmSent) || (Model.ReceiverId == userId && Model.ReceiverConfirmSent));
    var itemsReceived = ((Model.SenderId == userId && Model.SenderConfirmReceived) || (Model.ReceiverId == userId && Model.ReceiverConfirmReceived));
    var progIndex = Model.Status == "requested" ? 0 :
                    Model.Status == "accepted" ? 1 :
                    Model.Status == "confirmed" && itemsSent && itemsReceived ? 4 : 
                    Model.Status == "confirmed" && otherUserSent ? 3 : 
                    Model.Status == "confirmed" ? 2 : 
                    Model.Status == "completed" || 
                    Model.Status == "canceled" || 
                    Model.Status == "declined" ? 4 : -1;

    }
<div class="swap-prog-container @(Model.Status == "canceled" || Model.Status == "declined" ? "declined" : "")">
    <div class="swap-capstone @("prog-index-" + progIndex)">
        @if (progIndex == 3)
        {
            <p>Items Sent</p>
        }
        else if (progIndex == 4)
        {
            <p>Complete</p>
        }
        else
        {
            <p>@Model.Status</p>
        }
    </div>
    <div class="swap-prog-1 @(progIndex >= 1 ? "prog-index-1" : "disabled")"></div>
    <div class="swap-prog-2 @(progIndex >= 2 ? "prog-index-2" : "disabled")"></div>
    <div class="swap-prog-3 @(progIndex >= 3 ? "prog-index-3" : "disabled")"></div>
    <div class="swap-prog-4 @(progIndex >= 4 ? "prog-index-4" : "disabled")"></div>
</div>