@model CollectionSwap.Models.Swap
@using Microsoft.AspNet.Identity
@{
    var userId = User.Identity.GetUserId();
    var status = Model.StatusForUser(userId) == "pseudo-completed" ? "completed" : Model.Status;
    var statusColor = Model.StatusColor(userId);
    var progIndex = Model.ProgressIndex(userId);
}

<div class="swap-prog-container @Html.Raw(statusColor)">
    <div class="swap-capstone @("prog-index-" + progIndex)">
        @if (progIndex == 3)
        {
            <p>Items Sent</p>
        }
        else
        {
            <p>@status</p>
        }
    </div>
    <div class="swap-prog-1 @(progIndex >= 1 ? "prog-index-1" : "disabled")"></div>
    <div class="swap-prog-2 @(progIndex >= 2 ? "prog-index-2" : "disabled")"></div>
    <div class="swap-prog-3 @(progIndex >= 3 ? "prog-index-3" : "disabled")"></div>
    <div class="swap-prog-4 @(progIndex >= 4 ? "prog-index-4" : "disabled")"></div>
</div>