@model CollectionSwap.Models.IndexViewModel
@using CollectionSwap.Models
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Manage Your Account";
}

<div class="manage-container">
    <div class="manage-container-nav">
        <ul class="">
            @*<li>@Html.ActionLink("Swapper", "Index", "Home")</li>*@
            <li>@Html.ActionLink("Find Swaps", "FindSwaps", "Manage", null, new { @class = "submit-button" })</li>
            <li>@Html.ActionLink("Swap History", "SwapHistory", "Manage")</li>
            <li>@Html.ActionLink("Your Collections", "YourCollections", "Manage")</li>
            @if (User.IsInRole("Admin"))
            {
                <li>@Html.ActionLink("Manage Collections", "ManageCollections", "Manage")</li>
            }
            <li>@Html.ActionLink("Account", "Account", "Manage")</li>
        </ul>
    </div>
    <div class="manage-container-main">
    </div>
</div>

@section scripts {
    <script src="~/Scripts/swap-ui.js"></script>
    <script src="~/Scripts/main.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}